head
  meta(charset='utf-8')
  title #{head.title}
  meta(name='description', content='#{head.description}')
  meta(name='keywords', content='#{head.keywords}')
  meta(name='viewport', content='width=device-width,user-scalable=1')
  meta(property='og:type', content='web')
  meta(property='og:url', content='#{head.url}')
  meta(property='og:title', content='#{head.title}')
  meta(property='og:image', content='http://hellosuisei.com/images/p_fb_thumb.jpg')
  meta(property='og:site_name', content='オリジナル創作文芸同人サークル HELLO-SUISEI')
  meta(property='og:locale', content='ja_JP')
  link(rel='start', href='http://hellosuisei.com/', title='ホーム')
  link(rel='contents', href='http://hellosuisei.com/sitemap/', title='サイトマップ')
  link(rel='stylesheet', href='/css/main.css', type='text/css', media='all')
  link(rel='shortcut icon', href='/favo.ico')
  link(rel='canonical', href='#{head.url}')
  script(type='text/javascript', src='/js/ga.js')